.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 50px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;
}

.cart-container{
    background-color: goldenrod;
}